body {
  font-family: Arial, sans-serif;
  background: rgb(218, 200, 199);
  background: linear-gradient(
    87deg,
    rgb(179, 157, 156) 0%,
    rgb(209, 183, 183) 97%
  );
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.quiz-question {
  margin-bottom: 20px;
}
.options {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.option {
  margin-right: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(161, 137, 137);
}
.option:hover {
  background-color: #f0f0f0;
}
.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.progress {
  background-color: #4caf50;
  height: 20px;
}
#startBtn,
#nextBtn,
#loginBtn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}
#startBtn:hover,
#nextBtn:hover,
#loginBtn:hover {
  background-color: #45a049;
}
#loginForm {
  text-align: center;
  margin-top: 14%;
}
#loginForm input[type="text"],
#loginForm input[type="password"],
#loginForm input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 300px;
  box-sizing: border-box;
}
#quizContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 14%;
}
#nextBtn {
  margin-top: 20px;
  padding: 10px 20px;
  position: absolute;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}
